.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  max-width: 600px;
  min-height: 100px;
}

.input {
  margin: 10px;
  padding: 20px;
  // background-color: #28d2d0;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase; 
}

.input{
 display: flex;
 flex-wrap: wrap;
}

.input>*{
  width: 50%;
}

.radio > Field {
border: 1px solid white

}