body {
  background-color: #3ea9f5;
}

.title,
.link{
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  text-decoration: none;
}

.text{
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}